{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="container">
            <nav class="breadcrumb bg-transparent m-0 p-0">
                <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
                <span class="breadcrumb-item active">Contact</span>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb End -->

     

    {% if message_name %}
    <center>
        <h2>Thanks {{ message_name }}</h2>
        <h3>We received your email and will respond shortly ... </h3>
    </center>
    {% else %}

    <!-- Contact Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="bg-light py-2 px-4 mb-3">
                <h3 class="m-0">Noticias Contact Us For Any Queries</h3>
            </div>
            <div class="container mt-4">
                <h1 class="text-center">Top IMDb Movies</h1>
        
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% else %}
                    <div class="row">
                        {% for movie in todas_movies %}
                            <div class="col-md-3 m-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="{{ movie.image }}" class="card-img-top" alt="{{ movie.title }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ movie.title }}</h5>
                                        <p class="card-text"><strong>Géneros:</strong> {{ movie.genre}}</p>
                                        <p class="card-text"><strong>Calificación:</strong> {{ movie.rating }}</p>
                                        <p class="card-text"><strong>Sinopsis:</strong> {{ movie.description }}</p>
                                        <p class="card-text"><strong>Duration:</strong> {{ movie.duration }}</p>
                                        <p class="card-text"><strong>Type:</strong> {{ movie.type }}</p>
                                        <p class="card-text"><strong>Url:</strong><a href="{{ movie.url }}"> {{ movie.url }}</a> </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
                <!-- <div class="col-md-7">
                    <div class="contact-form bg-light mb-3" style="padding: 30px;">
                        <div id="success"></div>
                      
                    </div>
                </div> -->
                   
                <div class="row">
                    <!-- Comments Section -->
                    <div class="bg-light mb-3" style="padding: 30px;">
                        <h3 class="mb-4">{{ comments.count }} Comments</h3>
                        {% for comment in comments %}
                        <div class="media mb-4">
                            <!-- Muestra la imagen del comentario si existe, o una imagen predeterminada si no -->
                            {% if comment.image %}
                                <img src="{{ comment.image.url }}" alt="User Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                            {% else %}
                                <img src="{% static 'cars_reviews_app/img/user.jpg' %}" alt="Default User Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                            {% endif %}
                            <div class="media-body">
                                <h6>{{ comment.name }} <small><i>{{ comment.created_at }}</i></small></h6>
                                <p>{{ comment.message }}</p>
                            </div>
                        </div>
                        {% empty %}
                            <p>No comments yet. Be the first to comment!</p>
                        {% endfor %}
                    </div>
    
                    <!-- Comment Form -->
                    <div class="bg-light mb-3 p-4 rounded">
                        <h3 class="mb-4">Leave a comment</h3>
                        <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                            {% csrf_token %}
                    
                            <!-- Renderiza automáticamente los campos del formulario -->
                            {{ form.as_p }}
                    
                            <!-- Botón de enviar -->
                            <div class="form-group mt-3">
                                <button type="submit" class="btn btn-primary py-2 px-4">Submit Comment</button>
                            </div>
                        </form>
                    </div>
                    
    
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- other_page.html -->
    {% include 'footer_nav_bar.html' %}

    {% endif %}

    <br /><br />
    <br />
    <center>
    {% if todas_movies.has_previous %}
    <a class="btn btn-primary" href="?page=1">&laquo; First</a>
    <a
      class="btn btn-success"
      href="?page={{ todas_movies.previous_page_number }}"
      >Previous</a
    >
    {% endif %}
  
    <div class="btn btn-light">
      Page {{ todas_movies.number }} of {{ todas_movies.paginator.num_pages }}
    </div>
    {% if todas_movies.has_next %}
    <a
      class="btn btn-danger"
      href="?page={{todas_movies.next_page_number}}"
      >Next</a
    >
    <a
      class="btn btn-warning"
      href="?page={{ todas_movies.paginator.num_pages }}"
      >Last &raquo;</a
    >
    {% endif %}
    <br /><br />
   
    <nav aria-label="Page navigation example" hidden>
      <ul class="pagination justify-content-center" >
        {% if todas_movies.has_previous %}
        <li class="page-item m-1" >
          <a class="btn btn-primary page-link" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item m-1">
          <a
            class="btn btn-success page-link"
            href="?page={{ todas_movies.previous_page_number }}"
            >Previous</a>
        </li>
  
        {% endif %}
  
        <li class="page-item m-1 page-link">
          Page {{ todas_movies.number }} of {{ todas_movies.paginator.num_pages }}
        </li>
  
        {% for i in nums %}
        <li class="page-item m-1">
          <a class="btn btn-danger page-link" href="?page={{forloop.counter }}"
            >{{ forloop.counter }}</a>
        </li>
        {% endfor %} {% if todas_movies.has_next %}
  
        <li class="page-item m-1">
          <a
            class="btn btn-danger page-link"
            href="?page={{todas_movies.next_page_number}}"
            >Next</a>
        </li>
        <li class="page-item m-1">
          <a
            class="btn btn-warning page-link"
            href="?page={{ todas_movies.paginator.num_pages }}"
            >Last &raquo;</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    
    </center>
    <br />
  

 



    {% endblock %}